.clip-txt {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.navy-star-back {
    background-image: url("../images/pexels-pixabay-cc0-34107-banner.jpg");
    /* background-image: url("../images/milky-way.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1090px;
    filter: brightness(80%);
}

.crab-color {
    filter: brightness(70%) hue-rotate(-20deg);
    /* filter: brightness(95%) hue-rotate(200deg); */
}

.crab-nebula-back-1 {
    background-image: url("../images/STSCI-H-p1721c-m-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.crab-nebula-back-2 {
    background-image: url("../images/STSCI-H-p1721c-m-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.crab-nebula-back-3 {
    background-image: url("../images/STSCI-H-p1721c-m-3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.crab-nebula-back-4 {
    background-image: url("../images/STSCI-H-p1721c-m-4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.ctr-txt {
    text-align: center;
}

.large-txt {
    font-size: 9rem;
    font-weight: 900;
}

.white {
    color: white;
}

.upcase-txt {
    text-transform: uppercase;
}

.raleway-txt {
    font-family: 'Raleway', sans-serif;
}

.bitter-txt {
    font-family: 'Bitter', serif;
}

.dark-txt {
    color: #00356B;
    /* color: #051933; */
}

.justify-txt {
    text-align: justify;
}

.line-point-7 {
    line-height: 0.7;
}

.body-txt {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.m0 {
    margin: 0;
}

.m0auto {
    margin: 0 auto;
}

.m17auto {
    margin: 1.7rem auto;
}

.mw600 {
  max-width: 600px;
  min-width: 600px;
}

.mw400 {
  max-width: 400px;
  min-width: 400px;
}

.logo {
    font-size: 3.5rem;
}

.rel {
    position: relative;
}

.point-two-down {
    top: 0.2rem;
}

.point-six-down {
    top: 0.6rem;
}

.eight-up {
    bottom: 8rem;
}

.h100 {
    height: 100%;
}

.flex {
    display: flex;
}

.justify-space {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.dir-col {
    flex-direction: column;
}

.light-gray-bg {
    background-color: #fbfbfb;
}