.clip-txt {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    max-width: 1090px;
    filter: brightness(80%) opacity(86%);
}

.header-back {
    background-image: url("../images/pexels-pixabay-cc0-34107-banner.jpg");
}

.icon {
    font-size: 3.5rem;
    filter: brightness(65%) hue-rotate(-20deg) saturate(108%) opacity(75%);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-back-1 {
    background-image: url("../images/STSCI-H-p1721c-m-1.png");
}

.icon-back-2 {
    background-image: url("../images/STSCI-H-p1721c-m-4.png");
}

.ctr-txt {
    text-align: center;
}

.header-txt {
    font-size: 9rem;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.upcase-txt {
    text-transform: uppercase;
}

.white {
    color: white;
}

.justify-txt {
    text-align: justify;
}

.line-point-7 {
    line-height: 0.7;
}

.body-txt {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.std-txt {
    font-family: 'Bitter', serif;
    font-weight: 500;
    color: #004278;
}

.m0 {
    margin: 0;
}

.m0auto {
    margin: 0 auto;
}

.m17auto {
    margin: 1.7rem auto;
}

.mw600 {
  max-width: 600px;
  min-width: 600px;
}

.mw400 {
  max-width: 400px;
  min-width: 400px;
}

.rel {
    position: relative;
}

.point-two-down {
    top: 0.2rem;
}

.point-six-down {
    top: 0.6rem;
}

.body-down {
    top: 15%;
}

.h100 {
    height: 100%;
}

.flex {
    display: flex;
}

.justify-space {
    justify-content: space-between;
}

.bg {
    background-color: #f6f6f8;
}

.hover-img {
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    display: none;
}

.icon:hover .hover-img {
    display: block;
}

.hover-img.upper-left {
    top: -0.7rem;
    left: -0.7rem;
    rotate: 90deg;
}

.icon:hover .hover-img.upper-left {
    animation: upper-left-bounce 0.25s ease-out;
}

.hover-img.upper-right {
    top: -0.7rem;
    right: -0.7rem;
    rotate: 180deg;
}

.icon:hover .hover-img.upper-right {
    animation: upper-right-bounce 0.25s ease-out;
}

.hover-img.lower-right {
    bottom: 0;
    right: -0.7rem;
    rotate: 270deg;
}

.icon:hover .hover-img.lower-right {
    animation: lower-right-bounce 0.25s ease-out;
}

.hover-img.lower-left {
    bottom: 0;
    left: -0.7rem;
}

.icon:hover .hover-img.lower-left {
    animation: lower-left-bounce 0.25s ease-out;
}

@keyframes upper-left-bounce {
    0% {
        top: -0.7rem;
        left: -0.7rem;
        opacity: 0;
    }
    50% {
        top: -1.2rem;
        left: -1.2rem;
    }
    100% {
        top: -0.7rem;
        left: -0.7rem;
        opacity: 1;
    }
}

@keyframes upper-right-bounce {
    0% {
        top: -0.7rem;
        right: -0.7rem;
        opacity: 0;
    }
    50% {
        top: -1.2rem;
        right: -1.2rem;
    }
    100% {
        top: -0.7rem;
        right: -0.7rem;
        opacity: 1;
    }
}

@keyframes lower-right-bounce {
    0% {
        bottom: 0rem;
        right: -0.7rem;
        opacity: 0;
    }
    50% {
        bottom: -0.5rem;
        right: -1.2rem;
    }
    100% {
        bottom: 0rem;
        right: -0.7rem;
        opacity: 1;
    }
}

@keyframes lower-left-bounce {
    0% {
        bottom: 0rem;
        left: -0.7rem;
        opacity: 0;
    }
    50% {
        bottom: -0.5rem;
        left: -1.2rem;
    }
    100% {
        bottom: 0rem;
        left: -0.7rem;
        opacity: 1;
    }
}


@media (prefers-color-scheme: dark) {
    .std-txt {
        /* color: #fafafa; */
        color: #d0c9cd;
        /* font-weight: 300; */
        font-weight: 400;
    }

    .bg {
        background-color: #1f1f1f;
    }

    .header {
        /* filter: brightness(80%) saturate(100%); */
        filter: brightness(80%) saturate(60%);
    }

    .header-back {
        background-image: url("../images/gal-1b.jpg");
        /* background-image: url("../images/gal-2a.jpg"); */
        /* background-image: url("../images/gal-3a.png"); */
    }

    .icon {
        filter: brightness(450%) hue-rotate(-100deg) saturate(30%);
        /* filter: brightness(120%) hue-rotate(-340deg) saturate(100%); */
        /* filter: brightness(100%) hue-rotate(-100deg) saturate(75%); */
        /* filter: brightness(120%) hue-rotate(-115deg) saturate(90%); */
        /* filter: brightness(150%) hue-rotate(-0deg) saturate(85%); */
    }

    .icon-back-1 {
        background-image: url("../images/STSCI-H-p1721c-m-1.png");
    }

    .icon-back-2 {
        background-image: url("../images/STSCI-H-p1721c-m-4.png");
    }
}